* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

.splash-container {
  width: 100vw;
  height: 100vh;
  background: url("../assets/1667223995-Untitleddesign-2022-10-31T174535186.webp")
    no-repeat center center/cover; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.mission {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.team {
  font-size: 1rem;
  margin-bottom: 20px;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ee4ce0;
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}
